/* This file contains styles for the main template */
.centered { text-align: center !important; }
.inline{ display: inline !important; }
.margin10{ margin: 10px; }
.padding10{ padding: 10px; }
.margin0{ margin: 0px; }
.padding0{ padding: 0px; }
body{ padding-top: 50px; }

/* Footer ######################################################### */
#footer {
	background: #333;
	color: #777;
	padding: 20px 0;
	text-align: center;
}
#footer a {
	color: #999999;
}
#footer a:hover, a:focus {
	color: #26B4E7;
}
#footer p {
	font-size: 13px;
	margin-top: 10px;
}

/* Navigation ######################################################### */
.navbar-header {
  max-width: 20%;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-collapse {
  max-width: 80%;
}

.navbar-brand {
  padding: 0;
  margin-right: 0;
  height: 40px;
}

.navbar-brand img {
  width: 100%;
  height: auto;
  max-width: 444px;
  max-height: 40px;
}

.navbar-custom {
  padding: 0;
  border-bottom: 0;
  letter-spacing: 1px;
  background: #333;
  text-transform: uppercase;
  margin-bottom: 0;
  width: 100%;  
}

.navbar-custom .navbar-brand {
  font-weight: 600;
}

.navbar-custom .navbar-brand i.fa {
  color: #26B4E7;
}

.navbar-custom .navbar-brand:focus {
  outline: 0;
}

.navbar-custom .navbar-toggle {
  color: #eee;
  font-size: 18px;
  border-radius: 2px;
  padding: 0 4px;
  float: right;
}

.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #26B4E7;
  color: #ffffff;
}

.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
  outline: 0;
}

.navbar-custom a {
  color: #fff;
}

.navbar-custom .nav li a {
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;
  color: #66CCFF;
  float: none;
  padding: 10px 15px;
  text-decoration: none;
  font-weight: bold;
  text-shadow: none !important;
  font-family: verdana, serif;  
}

.navbar-custom .nav li a:link {
  color: #66CCFF;
  float: none;
  padding: 10px 15px;
  text-decoration: none;
}

.navbar-custom .nav li a:hover {
  outline: 0;
  color: #26B4E7;
  background-color: transparent;
}

.navbar-custom .nav li a:visited {
  color: #66CCFF;
  float: none;
  padding: 10px 15px;
  text-decoration: none;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
  color: #CC33FF;
  text-decoration: underline;
  float: none;
  padding: 10px 15px;
  background-color: transparent;  
}

.navbar-custom .nav li.active {
  outline: 0;
  color: #66CCFF;
  float: none;
  padding: 10px 15px;
  text-decoration: none;  
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: #fff;
}

@media (min-width: 768px) {
  .navbar-header {
    max-width: 100%;
  }

  .navbar-brand img {
    max-width: 166px;
  } 
}

@media (max-width: 400px) {
  /* phone size */
  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  .navbar-lower {
    margin-top: 100px;
  }

  .navbar-brand img {
    height: auto;
    width: 100%;
    max-width: 200px;
  }
}

